<div class="ui grid">
  <div class="four wide column">
  </div>
  <div class="eight wide column">
    <div class="ui form">
      <%= form_tag sessions_path, method: 'post' do %>
        <div class="field">
          <%= text_field_tag :email, params[:email], placeholder: 'Email' %>
        </div>
        <div class="field">
          <%= password_field_tag :password, nil, placeholder: I18n.t('user.password') %>
        </div>
        <%= submit_tag I18n.t('session.sign_in'), data: {disable_with: 'Signing In...'}, class: 'ui large green button' %>
      <% end %>
    </div>
  </div>
  <div class="four wide column">
  </div>
</div>
