<div class="ui grid">
  <div class="four wide column">
  </div>
  <div class="eight wide column">
    <div class="ui form">
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="ui yellow message"><%= @user.errors.full_messages.uniq.to_sentence %></div>
        <% end %>
        <div class="field">
          <%= f.label I18n.t 'user.name' %>
          <%= f.text_field :name, placeholder: 'Tên' %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: 'Email' %>
        </div>
        <div class="field">
          <%= f.label I18n.t 'user.password' %>
          <%= f.password_field :password, placeholder: 'Mật khẩu phải có ít nhất 6 ký tự' %>
        </div>
        <%= f.submit I18n.t('user.register'), class: 'ui large green button' %>
      <% end %>
    </div>
  </div>
  <div class="four wide column">
  </div>
</div>
