<div class="card home-card">
  <a href="<%= sale_item_path(id: sale_item) %>">
    <%= image_tag(sale_item.image_url , class: "ui image") %>
  </a>
  <div class="content">
    <div class="header home-item-name">
    <%= sale_item.name %>
    </div>
    <div class="description home-item-detail">
    <%= sale_item.simple_first_sentence  %>
    </div>
  </div>
  <div class="home-item-price">
    <span class="right floated">
    <%= sale_item.vnd_price  %>
    </span>
  </div>
</div>