<div class="ui container">
  <%= flash_messages %>
</div>
<%= render "layouts/quote" %>
<div class="ui container">
  <div class="ui four cards">
    <% @sale_items.each do |sale_item| %>
      <%= render partial: "sale_item_card", locals: { sale_item: sale_item } %>
    <% end %>
  </div>
</div>