<table class="ui single line table">
  <thead class="item-font-size">
    <tr>
      <th>Tên sản phẩm</th>
      <th>Số lượng</th>
      <th>Giá tiền</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="item-font-size">
    <% order_items.each do |order_item| %>
    <tr>
      <td>
        <img class="ui middle aligned tiny image" src="<%= order_item[:image_url] %>">
        <span><%= order_item[:name] %></span>
      </td>
      <td>
        <p><%= order_item[:quanity] %></p>
      </td>
      <td>
        <p><%= vnd_price(order_item[:price]) %></p>
      </td>
      <td>
        <%= link_to 'Remove', delete_item_from_cart_path(delete_key: order_item[:key]), method: :post %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="total-price">
  <p>Tổng cộng: <%= vnd_price(total) %></p>
</div>
