<div class="ui grid">
  <div class="four wide column">
  </div>
  <div class="eight wide column">
    <%= form_tag(orders_path(order_items: order_items, total: total), method: :post, class: 'ui form') do %>
      <div class="field">
        <%= text_field_tag('name', nil, placeholder: 'Tên của bạn', size: 30) %>
      </div>
      <div class="field">
        <%= text_field_tag('phone', nil, placeholder: 'Số điẹn thoại', size: 20) %>
      </div>
      <div class="field">
        <%= text_field_tag('address', nil, placeholder: 'Địa chỉ giao hàng', size: 120) %>
      </div>
      <div class="field">
        <%= text_area_tag('note', nil, placeholder: 'Ghi chú', rows: '3', size: 200) %>
      </div>
      <button type="submit" name="commit" value="order" id="cart-btn" class="ui fluid green labeled icon button">
        <i class="cart icon"></i>
        Đặt hàng
      </button>
    <% end %>
  </div>
  <div class="four wide column">
  </div>
</div>
