<div class="ui container quicksand-font">
  <%= flash_messages %>
  <% if @order_items.size > 0 %>
    <%= render partial: "checkout_items", locals: { order_items: @order_items, total: @total } %>
    <%= render partial: "checkout_form", locals: { order_items: @order_items, total: @total } %>
  <% else %>
    <div class="ui warning message">
      <div class="quicksand-font">
        Giỏ hàng của bạn hiện không có sản phẩm nào
      </div>
    </div>
  <% end %>
</div>
