<div class="sale-item-top-space">
</div>
<div class="ui container">
  <div class="ui grid">
    <div class="six wide column">
      <div class="ui fluid card">
          <div class="image">
            <img src="<%= @sale_item.image_url %>">
          </div>
        </div>
    </div>
    <div class="ten wide column">
      <h2 class="sale-item-name"><%= @sale_item.name %></h2>
      <div class="detail-content">
        <div class="sale-item-detail">
          <%= simple_format(@sale_item.description) %>
        </div>
        <p class="sale-item-price"><%= @sale_item.vnd_price %></p>
        <%= form_tag(add_item_to_cart_path(sale_item_id: @sale_item.id), method: :post) do %>
          <div class="sale-item-dropdown">
            <span>Số lượng: </span>
            <%= select_tag 'quanity', options_for_select((1..10).to_a), class: 'ui dropdown' %>
          </div>
          <div class="sale-item-dropdown">
            <span>Size: </span>
            <%= select_tag 'size', options_for_select(@sale_item.sizes_array), class: 'ui dropdown' %>
          </div>
          <button type="submit" name="commit" value="check" id="cart-btn" class="ui large green button">
            Mua ngay
          </button>
          <button type="submit" name="commit" value="add" id="cart-btn" class="ui large blue button">
            Thêm vào giỏ hàng
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
