@import 'semantic-ui';
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import 'home';
@import 'sale_items';
@import 'order';

.brand-name {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.quicksand-font {
  font-family: 'Quicksand', sans-serif;
}

.home-quote {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  padding: 50px 200px 100px 200px;
}

.no-radius {
  border-radius: 0px !important;
}

#red-note-baby {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #e92329;
  position: absolute;
}

.footer-top-space {
  min-height: 600px;
}

.infooter-space {
  height: 20px
}

.footer-contact {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 15px;
  padding: 5px;
}
