.home-item-name {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.home-item-detail {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: normal;
  font-size: 15px;
}

.home-item-price {
  max-width: 100%;
  min-height: 0em !important;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  position: static;
  background: none;
  width: auto;
  margin: 0em 0em;
  padding: 0.75em 1em;
  top: 0em;
  left: 0em;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.home-card {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04);
  overflow: hidden;
}
