.sale-item-name {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.sale-item-detail {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 40px;
}

.sale-item-dropdown {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
}

.detail-content {
  max-width: 100%;
  min-height: 0em !important;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  position: static;
  background: none;
  width: auto;
  margin: 0em 0em;
  padding: 0.75em 0em;
  top: 0em;
  left: 0em;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.sale-item-price {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

#cart-btn {
  font-family: 'Quicksand', sans-serif;
}

.sale-item-top-space {
  margin-top: 100px;
}
