<div class="footer-top-space">
</div>
<div class="ui black inverted vertical segment">
  <div class="infooter-space"></div>
  <div class="ui grid">
    <div class="two wide column">
    </div>
    <div class="six wide column">
      <div class="footer-contact">
        <i class="facebook large icon"></i>
        <span>Contact us on facebook</span>
      </div>
      <div class="footer-contact">
        <i class="instagram large icon"></i>
        <span>Contact us on instagram</span>
      </div>
    </div>
    <div class="six wide column">
    </div>
    <div class="two wide column">
    </div>
  </div>
  <div class="ui center aligned container">
    <div class="ui inverted section divider"></div>
    <h1 class="brand-name">P</h1>
  </div>
  <div class="infooter-space"></div>
</div>
