<div class="ui large borderless inverted menu no-radius">
  <div class="ui container">
    <a class="item" href="<%= root_path %>">
      <h1 class="brand-name">Pierro</h1>
    </a>
    <div class="right menu">
      <% if cart_is_not_empty? %>
      <span id="red-note-baby"></span>
      <% end %>
      <a class="item" href="<%= new_order_path %>">
        <i class="large cart icon"></i>
      </a>
    </div>
  </div>
</div>
