<div class="ui container">
  <div class="home-quote" id="quote">
    <p>
      “Fashion is not necessarily about labels. It’s not about brands. It’s about something else that comes from within you.” — <strong>Ralph Lauren</strong>
    </p>
  </div>
</div>

<script>
  $('#quote').transition({
    animation : 'scale in',
    duration  : '1000ms',
  })
</script>
